<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<%- include('../partials/flashMessages') -%>      
</header>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">

   <% users.forEach(function(user){ %>
       <div class="col-md-3 col-sm-6">
           <div class="thumbnail">
              <img src="<%= user.image %>">
              <div class="caption">
                <img src="<%= '/images/' + user.avatar%>" height="150px" width="150px" class="avatar"   >
                  <h4><%= user.firstName %></h4>
                  <h6><%= user.location %></h6>
                  <h6><%= user.mobile %></h6>
                  <h6><%= user.email %></h6>

                <style>
                    .avatar{
                        border-radius: 50%
                    }
                </style>

            </div>
            </div>
       </div>
       <% }); %>
</div>
</div>
<% include ../partials/footer %>

<%- include('../partials/contact') -%>
<%- include('../partials/footer') -%>