<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="container-fluid bg-dark ">
<%- include('../partials/flashMessages') -%>
  <br>
  <%if(user) {%>
  <h2><p class=" bg-dark text-white text-center w3-xxlarge ">Events for you</p></h2>
  <form  action="/events/edit.US" method="post">
    <h5>Choose sport and date </h5>

    <div class="form-group">
    <label for="sport">sport:</label>
    <br>
    <select name="sport" id="sport" >
      <option value="soccer">soccer</option>
      <option value="basketball">basketball</option>
      <option value="tennis">tennis</option>
      <option value="baseball">baseball</option>
      <option value="golf">golf</option>
      <option value="running">running</option>
      <option value="volleyball">volleyball</option>
      <option value="swimming">swimming</option>
      <option value="boxing">boxing</option>
      <option value="table tennis">table tennis</option>
      <option value="rugby">rugby</option>
      <option value="football">football</option>
      <option value="karate">karate</option>
      <option value="cycling">cycling</option>
      <option value="fishing">fishing</option>
      <option value="gymnastics">gymnastics</option>
      <option value="taekwondo">taekwondo</option>
      <option value="kickboxing">kickboxing</option>
      <option value="handball">handball</option>
    </select>
    </div>

    <!-- <div class="form-group">
    <label for="eventsDate">Date:</label>
    <input type="date" name="eventsDate" id="eventsDate" class="form-control" >

    </div> -->

    <div class="form-group">
    <button type="submit" class="btn btn-primary"> Find events</button>
    </div>
</form>
<%}else{%>
  <h2><p class=" bg-dark text-white text-center w3-xxlarge ">All sports</p></h2>
<%}%>  
<hr>
    <div class="row mt-3">
<div class="col md-12">
</div>      
</div>

    
    
  <% chunk.forEach((events)=> {%>
    <div class="row mt-3">

   
        <% events.forEach((event)=> {%>
          


        <%  if ((user) && (user.sport === event.sport ) ){%>  
          <div class="col-sm-6 col-md-4">
              <div class="card">
                  
                  <div class="card-body">
                    <h5 class="card-title"><%= event.title%></h5>
                    <hr>
                    <p class="card-text"> <i class="fa fa-running"></i> <%= event.sport%></p>
                    <p class="card-text"> <i class="fa fa-clock"></i> <%= event.date.toDateString()%> At <%= event.time%> </p>
                    <p class="card-text"> <i class="fas fa-location-arrow"></i> <%= event.location%></p>
                    <p class="card-text">Description: <%= event.description%></p>
                    <a href="<%=  '/events/show/'  + event.id %>" class="btn btn-primary">Show More <i class="fa fa-info-circle"></i>                    </a>
                    </div>
                </div>
          </div>
          <% } else if(!user) {%>  
            <div class="col-sm-6 col-md-4">
              <div class="card">
                  
                  <div class="card-body">
                    <h5 class="card-title"><%= event.title%></h5>
                    <hr>
                    <p class="card-text"> <i class="fa fa-running"></i> <%= event.sport%></p>
                    <p class="card-text"> <i class="fa fa-clock"></i> <%= event.date.toDateString()%> At <%= event.time%> </p>
                    <p class="card-text"> <i class="fas fa-location-arrow"></i> <%= event.location%></p>
                    <p class="card-text">Description: <%= event.description%></p>
                    <a href="<%=  '/events/show/'  + event.id %>" class="btn btn-primary">Show More <i class="fa fa-info-circle"></i>                    </a>
                    </div>
                </div>
          </div>  
          <%}%>

          <%})%>
    </div>

  <%})%>
<div class="row">
  <div class="col-12 mt-2 mb-4">
    <nav aria-label="...">
      <ul class="pagination pagination-lg justify-content-center">
        <% for (let i=1 ; i <= Math.ceil(total/5); i++) {%>
        
          <% if (pageNo == i) {%>
            <li class="page-item active"><a class="page-link" href="<%= '/events/' + i%>"><%= i%></a></li>
          <%} else { %>
          <li class="page-item"><a class="page-link" href="<%= '/events/' + i%>"><%= i%></a></li>
          <%}%>
        
        <%}%>
        
      </ul>
    </nav>
  </div>
</div>

<hr>
<%- include('../partials/carrousel') -%>
<%- include('../partials/contact') -%>
<%- include('../partials/footer') -%>
</div>

